<% include partials/header %>

<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">VR Space</h1>
      <div class="row center">
        <h5 class="header col s12 light">A space to share and discover Virtual Reality</h5>
      </div>
      <div class="row center">
        <a href="/projects/new" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Submit project</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="http://kingofwallpapers.com/abstract-background/abstract-background-002.jpg" alt="Unsplashed background img 1"></div>
</div>
<div class="container">
<div class="row">
  <div class="col 12">
    <h3>Submitted VR Projects</h3>
  </div>
</div>
<hr>

<div class="row" style="display:flex; flex; flex-wrap: wrap;">
<% projects.forEach(function(project) { %>
    <div class="col s6">
     <div class="card">
      <div class="card-image">
      <img src="<%= project.image%>">
        <span class="card-title"><%=project.name %></span>
        </div>
        <div class="card-content">
        <p>
          <a target="_blank"href="<%=project.project %>" class="btn btn-primary">More Info</a>
        </p>
        </div>
      </div>
    </div>
<% }) %>
</div>
</div>
<% include partials/footer %>
