<% include ../partials/header %>

<div class="container" id="onTop">

		<h1 class="text-center">Gallery</h1>
		<hr>
		<div class="row">
			<div class="col s6">
				<div class="card hoverable">
					<div class="card-image">
						<img src="360-view.jpg" style="height: 113px">
						<span class="card-title">Mountains</span>
					</div>
					<div class="card-action">
						<a target=_blank href="test.html?img=360-view.jpg">Explore</a>
					</div>
				</div>
			</div>
			<div class="col s6">
				<div class="card hoverable">
					<div class="card-image">
						<img src="library.jpg" style="height: 113px">
						<span class="card-title">Library</span>
					</div>
					<div class="card-action">
						<a target=_blank href="test.html?img=library.jpg">Explore</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s6">
				<div class="card hoverable">
					<div class="card-image" style="height: 113px">
						<img src="grass.jpg" style="height: 113px">
						<span class="card-title">Field</span>
					</div>
					<div class="card-action">
						<a target=_blank href="test.html?img=grass.jpg">Explore</a>
					</div>
				</div>
			</div>
			<div class="col s6">
				<div class="card hoverable">
					<div class="card-image" style="height: 113px">
						<img src="zurich.jpeg" style="height: 113px">
						<span class="card-title">Zurich</span>
					</div>
					<div class="card-action">
						<a target=_blank href="test.html?img=zurich.jpeg">Explore</a>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col s6">
				<div class="card hoverable">
					<div class="card-image" style="height: 113px">
						<img src="paris.jpg" style="height: 113px">
						<span class="card-title">Paris</span>
					</div>
					<div class="card-action">
						<a target=_blank href="test.html?img=paris.jpg">Explore</a>
					</div>
				</div>
			</div>
			<div class="col s6">
				<div class="card hoverable">
					<div class="card-image" style="height: 113px">
						<img src="circus.jpeg" style="height: 113px">
						<span class="card-title">Circus</span>
					</div>
					<div class="card-action">
						<a target=_blank href="test.html?img=circus.jpeg">Explore</a>
					</div>
				</div>
			</div>
		</div>
	</div>

  <% include ../partials/footer %>
